<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="main">
    <%- include('nav.ejs') -%>
</div>
<%- include('aside.ejs') -%>
<script src="../static/vendors/jquery/jquery.js"></script>
<script src="../static/js/index.js"></script>
</body>
</html>