<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in << Admin</title>
    <link rel="stylesheet" href="../static/css/sign.css">
</head>
<body>
<div class="login">
    <div class="inOrUp">
        <a href="./signUp.html">注册</a>
    </div>
    <div class="sign">
        <form action="#" class="login_wrap">
            <img src="../static/img/default.png" class="avatar">
            <div class="form_group">
                <input id="user" name="user" type="text" placeholder="用户名" autofocus autocomplete="off">
                <input id="password" name="password" type="password" placeholder="密码">
                <input type="button" value="登录" class="btn">
            </div>
        </form>
    </div>
</div>
</body>
</html>